.header {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
    height: 60px;
}
.links {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
}
.left {
    display: flex;
}
.company_logo{
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        letter-spacing: 2px;
        margin: 0;
}
.main {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
    max-width: 500px;
    margin-left: 700px;
  }
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
button {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.input-group {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
  }

  